@tailwind base;
@tailwind components;
@tailwind utilities;


.vis-tooltip {
    position: absolute;
    visibility: hidden;
    padding: 10px;
    white-space: nowrap;
    color: #fcfcfc !important;
    background-color: #11192967 !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 12px !important;
    border: 1px solid #374151 !important;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 5;
    font-family: 'Inter', sans-serif !important;
}

.dark .vis-tooltip {
    background-color: #111929 !important;
    border: 1px solid #374151 !important;
}